<% layout('layouts/boilerplate'); %> 


<div class="card mb-3">
    <div class="card-header text-muted">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <p class="m-0"><%- `Poll created by ${poll.author.f_name}` %> </p>
            <% if(currentUser){ %> 
            <span class="d-inline-flex">
                <% if(poll.author.id == currentUser.id || poll.allow_download){ %> 
                <a href="#" target="_blank" class="m-1 p-1 btn text-muted align-middle" title="download csv"
                    id="csv-link"><i class="bi bi-download fs-5"></i></a>
                <% }if(poll.author.id==currentUser.id ){ %>
                <a href="/polls/<%- poll.id %>/edit" class="m-1 p-1 btn text-muted align-middle" title="settings">
                    <i class="bi bi-sliders  fs-5 align-middle"></i></a>
                <% }if(poll.add_opt){ %> 
                <a href="#" class="m-1 p-1 btn text-muted align-middle" title="add option"
                data-bs-toggle="modal" data-bs-target="#add-opt-modal">
                <i class="bi bi-plus-square-fill  align-middle fs-5"></i></a>
                <% } %> 
            </span>
            <% } %>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <%- poll.title %>
        </h5>
        <p class="card-text ">
            <%- poll.description %>
        </p>
        <form action="/polls/<%-poll.id%>/opts?_method=PUT" method="POST">
            <ul class="list-group list-group-flush mb-3">
                <% for(let opt of poll.opts){ %>
                    <li class="list-group-item border-0 p-2">
                        <div class="form-check">
                            <input class="form-check-input fs-5" type="<%- poll.multi_opt ? 'checkbox' : 'radio' %>"
                                id="flexCheckChecked" name="radio"
                                <% if(currentUser){ %>
                                <% for(let voter of opt.voters){ %>  
                                    <%- voter.id == currentUser.id ? 'checked' : '' %> 
                                <% } %> 
                                <% } %> 
                                >
                            <input class="d-none" type="text" name="opts[opt_id][]" value="<%-opt.id%>">
                            <input class="d-none" type="number" name="opts[num_of_votes][]" value="<%-opt.num_of_votes%>">
                            <a href="#" class="float-end link-dark ppl-icon" data-bs-toggle="modal" data-bs-target="#showVoters">
                                <span class="float-end">
                                    <%-opt.num_of_votes !=0? Math.round(100*opt.num_of_votes/poll.total_num) : 0%>%
                                </span>
                                <span class="float-end me-1 me-md-2 me-md-3"><i class="bi bi-people-fill fs-5"></i></span>

                                <% opt.voters.forEach((voter, idx)=>{ %> 
                                    <div class="accordion-item d-none">
                                        <h2 class="accordion-header" id="flush-heading-<%- idx %>">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#flush-collapse<%- idx %>" aria-expanded="false" aria-controls="flush-collapse<%- idx %>">
                                                <i class="bi bi-person-bounding-box me-2"></i> <%- voter.f_name + " " + voter.l_name%> 
                                            </button>
                                        </h2>
                                        <div id="flush-collapse<%- idx %>" class="accordion-collapse collapse" aria-labelledby="flush-heading-<%- idx %>"
                                            data-bs-parent="#showVoters">
                                            <div class="accordion-body">
                                                Email: <%- voter.email %>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %> 
                            </a>
                            <label class="form-check-label fs-6 border rounded h-100 position-relative float-start"
                                for="flexCheckChecked" style="width: 80%;">
                                <div id="test" class="d-inline-block rounded bg-secondary h-100"
                                    style="width: <%-opt.num_of_votes != 0?  100*opt.num_of_votes/poll.total_num : 0%>%; 
                                    min-height: 100%; opacity:.5; 
                                    
                                    <% for(let voter of opt.voters){ %>
                                    <% if(currentUser && voter.id == currentUser.id){ %>
                                        opacity:.75;
                                    <% break} %>
                                    <% } %>
                                    ">
                                    
                                </div>
                                <span class="position-absolute text-center d-inline-block .bg-transparent rounded px-3 w-100 end-0">
                                    <%- opt.val %>
                                </span>  
                            </label>
                        </div>
                    </li>
                <% } %>
            </ul>
            <p class="p-0 ms-2">Total number of votes: <%- poll.total_num %> </p>
            <button id="sharable" class="btn btn-outline-primary share-btn" data-id="<%-poll.id%>">Get poll info</button>
            <button type="submit" class="btn btn-outline-success">Submit Vote</button>
        </form>
    </div>
</div>


<!-- add option Modal -->
<div class="modal fade" id="add-opt-modal" tabindex="-1" aria-labelledby="add-opt-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-opt-modalLabel">
                    Add other options
                </h5>
                <a href="/polls/<%- poll.id %>" class="btn-close" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <div id="opts-div" class="p-0 m-0">
                    
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="opt-creator">
                    <span id="add-opt-btn" class="input-group-text btn btn-secondary" id="basic-addon1"><i
                            class="bi bi-plus-lg"></i></span>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        You must enter a non-negative number for the campground price
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/polls/<%- poll.id %>" class="btn btn-outline-success">Ok</a>
            </div>
        </div>
    </div>
</div>


<!-- show people Modal -->
<div class="modal fade" id="showVoters" tabindex="-1" aria-labelledby="showVotersLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showVotersLabel">Voters</h5>

                <% if(currentUser && (poll.author.id==currentUser.id || poll.allow_download)){ %>
                    <a href="#" class="m-1 p-1 btn text-muted d-inline-block ms-auto" title="download csv for this option"
                        id="csv-opt-link"><i class="bi bi-download fs-5"></i></a>
                <% } %> 
                <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

<style>
    #test::after{
        content: '0';
        visibility: hidden;
    }
</style>

<script>
    const poll_author = "<%- poll.author.f_name + ' ' + poll.author.l_name %>";
    <% if(currentUser && currentUser.id == poll.author.id || poll.allow_download){ %> 
        const opts = <%- JSON.stringify(poll.opts) %>;
    <% } %> 
</script>
<script src="/js/polls/show.js"></script>