<% layout('layouts/boilerplate'); %> 


<div class="container d-felx col-lg-8 mx-auto ">
    <div class="card mb-3">
        <div class="card-header text-muted">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <p class="m-0">Author</p>
                <span class="d-inline-flex">
                    <button class="m-1 p-1 btn text-muted"><i class="bi bi-sliders"></i></button>
                    <button class="m-1 p-1 btn text-muted"><i class="bi bi-pencil-square"></i></button>
                    <button class="m-1 p-1 btn text-muted"><i class="bi bi-gear-fill"></i></button>
                </span>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <%- poll.title %>
            </h5>
            <p class="card-text">
                <%- poll.description %>
            </p>
            <form action="/polls/<%-poll.id%>/opts?_method=PUT" method="POST">
                <ul class="list-group list-group-flush mb-3">
                    <% for(let opt of poll.opts){ %>
                        <li class="list-group-item border-0">
                            <div class="form-check">
                                <input class="form-check-input fs-5" type="<%- poll.multi_opt ? 'checkbox' : 'radio' %>"
                                    id="flexCheckChecked" name="radio">
                                <input class="d-none" type="text" name="opts[opt_id][]" value="<%-opt.id%>">
                                <input class="d-none" type="number" name="opts[num_of_votes][]" value="<%-opt.num_of_votes%>">
                                <label class="form-check-label fs-6 border rounded w-100 h-100 position-relative"
                                    for="flexCheckChecked">
                                    <div id="test" class="d-inline-block rounded bg-info h-100"
                                        style="width: <%-opt.num_of_votes != 0?  100*opt.num_of_votes/poll.total_num : 0%>%; min-height: 100%; ">
                                    </div>
                                    <span class="position-absolute text-center d-inline-block .bg-transparent rounded px-3 w-100 end-0">
                                        <%- opt.val %>
                                    </span>
                                </label>
                            </div>
                        </li>
                    <% } %>
                </ul>
                <button id="sharable" class="btn btn-outline-primary share-btn" data-id="<%-poll.id%>">Get Sharable Link</button>
                <button type="submit" class="btn btn-outline-success">Submit Vote</button>
            </form>
        </div>
    </div>
</div>


<style>
    #test::after{
        content: '0';
        visibility: hidden;
    }
</style>

<script src="/js/polls/show.js"></script>