<% layout('layouts/boilerplate'); %> 

<h1 class="display-6 mb-4">All Polls</h1>


<% if(polls.length === 0){ %> 
    <div class="card mb-3">
        <div class="card-header text-muted">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h2 class="m-0"><i class="bi bi-exclamation-triangle"></i></h2> 
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">There is no polls to show</h5>
            <p class="card-text">Try creating more polls</p>
            <a href="/polls/new" class="btn btn-outline-primary share-btn">Create Poll</a>
            <a href="/" class="btn btn-outline-success">Go to home page</a>
        </div>
    </div> 
<% } %> 

<% for(let poll of polls){ %> 
    <div class="card mb-3">
        <div class="card-header text-muted">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <p class="m-0">Poll created by you</p> 
                <span class="d-inline-flex">
                    <a href="/polls/<%- poll.id %>/edit" class="m-1 p-1 btn text-muted"><i class="bi bi-sliders"></i></a>
                </span>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title"><%- poll.title %></h5>
            <p class="card-text"><%- poll.description %></p>
            <button class="btn btn-outline-primary share-btn" data-id="<%-poll.id%>">Get Sharable Link</button>
            <a href="/polls/<%-poll.id%>" class="btn btn-outline-success">Show Poll</a>
        </div>
    </div>
<% } %> 

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Notifications</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Copied the sharable link
        </div>
    </div>
</div>

<script src="/js/polls/show_all.js"></script>